Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
flask-sock==0.7.0
SQLAlchemy==2.0.36
proxmoxer==2.1.0
requests==2.32.4
paramiko==3.5.0
cryptography==46.0.5
APScheduler==3.10.4
Werkzeug==3.1.5
PyJWT[crypto]==2.10.1
gunicorn==23.0.0
